@font-face{
	font-family : 'Abel-Regular';
	src : url('./fonts/Abel-Regular.ttf');
}

@font-face{
	font-family : 'Barlow-MediumItalic';
	src : url('./fonts/Barlow-Regular.ttf');
}
@font-face{
	font-family : 'BadScript-Regular';
	src : url('./fonts/BadScript-Regular.ttf');
}

@font-face{
	font-family : 'EBGaramond-ExtraBold';
	src : url('./fonts/EBGaramond-ExtraBold.ttf');
}@font-face{
	font-family : 'Caveat-Regular';
	src : url('./fonts/Caveat-Regular.ttf');
}
@font-face{
	font-family : 'Cinzel-Bold';
	src : url('./fonts/Cinzel-Bold.ttf');
}
@font-face{
	font-family : 'Barlow-Regular';
	src : url('./fonts/Barlow-Regular.ttf');
}
@font-face{
	font-family : 'HindGuntur-SemiBold';
	src : url('./fonts/HindGuntur-SemiBold.ttf');
}
@font-face{
	font-family : 'Barlow-Thin';
	src : url('./fonts/Barlow-Thin.ttf');
}
@font-face{
	font-family : 'HindGuntur-Light';
	src : url('./fonts/HindGuntur-Light.ttf');
}
@font-face{
	font-family : 'Barlow-LightItalic';
	src : url('./fonts/Barlow-LightItalic.ttf');
}
@font-face{
	font-family : 'HindGuntur-Regular';
	src : url('./fonts/HindGuntur-Regular.ttf');
}
@font-face{
	font-family : 'ArchitectsDaughter-Regular';
	src : url('./fonts/ArchitectsDaughter-Regular.ttf');
}
@font-face{
	font-family : 'B612-Bold';
	src : url('./fonts/B612-Bold.ttf');
}
@font-face{
	font-family : 'B612-BoldItalic';
	src : url('./fonts/B612-BoldItalic.ttf');
}
@font-face{
	font-family : 'B612-Regular';
	src : url('./fonts/B612-Regular.ttf');
}
@font-face{
	font-family : 'Barlow-Black';
	src : url('./fonts/Barlow-Black.ttf');
}@font-face{
	font-family : 'Barlow-BlackItalic';
	src : url('./fonts/Barlow-BlackItalic.ttf');
}@font-face{
	font-family : 'Barlow-Bold';
	src : url('./fonts/Barlow-Bold.ttf');
}
@font-face{
	font-family : 'Barlow-BoldItalic';
	src : url('./fonts/Barlow-BoldItalic.ttf');
}
@font-face{
	font-family : 'Barlow-ExtraLight';
	src : url('./fonts/Barlow-ExtraLight.ttf');
}
@font-face{
	font-family : 'Barlow-ExtraLightItalic';
	src : url('./fonts/Barlow-ExtraLightItalic.ttf');
}@font-face{
	font-family : 'Barlow-Italic';
	src : url('./fonts/Barlow-Italic.ttf');
}@font-face{
	font-family : 'Barlow-Thin';
	src : url('./fonts/Barlow-Thin.ttf');
}@font-face{
	font-family : 'Barlow-ThinItalic';
	src : url('./fonts/Barlow-ThinItalic.ttf');
}@font-face{
	font-family : 'Caveat-Bold';
	src : url('./fonts/Caveat-Bold.ttf');
}@font-face{
	font-family : 'EBGaramond-BoldItalic';
	src : url('./fonts/EBGaramond-BoldItalic.ttf');
}@font-face{
	font-family : 'EBGaramond-ExtraBoldItalic';
	src : url('./fonts/EBGaramond-ExtraBoldItalic.ttf');
}@font-face{
	font-family : 'EBGaramond-Italic';
	src : url('./fonts/EBGaramond-Italic.ttf');
}@font-face{
	font-family : 'EBGaramond-Medium';
	src : url('./fonts/EBGaramond-Medium.ttf');
}@font-face{
	font-family : 'HindGuntur-Light';
	src : url('./fonts/HindGuntur-Light.ttf');
}@font-face{
	font-family : 'EBGaramond-BoldItalic';
	src : url('./fonts/EBGaramond-BoldItalic.ttf');
}@font-face{
	font-family : 'Cinzel-Regular';
	src : url('./fonts/Cinzel-Regular.ttf');
}
.alex-brush{
	font-family: 'Alex-Brush';
}
body{
	color : black;
	text-align : justify;
	background-color : rgb(248,248,248);
	word-wrap : break-word;
	font-size :small;
	overflow-y: scroll;
	overflow-x: hidden;

}
#login_body{
	color : black;
	text-align : justify;
	background-color : rgb(248,248,248);
	word-wrap : break-word;
	font-size :small;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: transparent;

}
.article-post-frame{
	background-color : white;
	position : relative;
	top : 50%;
	width : 100%;
	padding : 3%;
	margin-top : 1.5%;
	margin-bottom : 1.5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
    border-radius: 0.5%;
}
.article-tittle{
	font-family: 'Niramit';
	font-size : 1.36em;
	font-weight : bold;
}
.article-approve{
	position : relative;
	left : 5%;
}
.article-approval-btn{
	position : absolute;
	left : 70%;
}
.article-btn{
	position : relative;
	left : 15%;
}
.article-approval-authors{
	position : relative;
	left : 2%;
	font-family : 'Barlow-LightItalic';
}
.article-authors{
}
.article-authors-writer{
	font-family : 'Caveat-Regular';
	font-weight : 50%;
	font-size  : 1.2em;
}
.article-profil{
    border-radius: 50%;
	width : 20px;
	height : 20px;
}
.show{
	position : absolute;
	left : 80%;
	font-weight : 20;
	cursor : pointer;
}
.article-frame{
	background-color : white;
	position : absolute;
	top : 11%;
	left : 20%;
	width : 55%;
	padding : 2%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
    border-radius: 0.2%;
}
.more-article{
	background-color : white;
	padding : 1%;
	border-radius : 1%;
	position : fixed;
	left : 77%;
	top : 20%;
	width : 21%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.panel-manager{
	display : flex;
	flex-direction : column;
	background-color : white;
	padding : 1%;
	border-radius : 1%;
	position : fixed;
	left : 77%;
	top : 11%;
	width : 21%;
	height :15%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.correct-assertion{
	color : green;
}
.answers-assertion{
	color : red;
}
.middle-center{
	position : absolute;
	top : 50%;
}
.bookmarked-article{
	background-color : white;
	padding : 2%;
	border-radius : 2%;
	position : fixed;
	left : 77%;
	top : 20%;
	width : 21%;
	height :80%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.book-adder{
	background-color : white;
	padding : 2%;
	border-radius : 2%;
	position : fixed;
	left : 35%;
	top : 10%;
	width : 30%;
	height :80%;
	z-index : 2800;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.book-inner-adder{
	position : relative;
	left : 5%;
	top : 5%;
}
.sefl-article-main-header{
	font-family: 'Niramit';
	font-size : 2.7em;
	font-weight : bold;
	text-align : center;
}

.subscription-frame{
	background-color : white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.fileds-header{
	font-family : '';
	font-size : 3em;
	text-align : center;
	border-bottom : 2px solid #ddd;
}
.fields-name{
	font-family : 'Barlow-LightItalic';
	font-size : 1.5em;
	font-weight : 500;
	text-transform : capitalize;
}
.pupil-name{
	font-family : 'Barlow-LightItalic';
	font-size : 1.5em;
	font-weight : 500;
	text-transform : capitalize;
}
.subcribed-fields{
	position : fixed;
	left : 73%;
	background-color : white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.number-follows{
	font-weight : bold;
}
.fileds-subscribes{
	padding : 3%;
	border-bottom : 2px solid #ddd;
}
.pupil-presence{
	display : flex;
	flex-direction : column;
	padding : 3%;
	border-bottom : 2px solid #ddd;
}
.fileds-description{
	font-family: 'HindGuntur-Light';
	color : black;
}
.fileds-btn{
	position : relative;
	left : 8%;
	margin : 1%;
	outline-style : solid;
	outline-width : thin;
}
.option-text{
	font-family : 'Barlow-MediumItalic';
}
.school-wall{
	width : 80%;
	height : 20%;
}
.tittle-wall{
	position : absolute;
	top : 40%;
	left : 10%;
	font-family : 'Barlow-LightItalic';
	font-size : 5em;
	font-weight : 500;
	text-transform : capitalize;
	color : white;
}
.upload-image{
	width :  50%;
	height :  60%;
}
.logo-frame{
}
.logo-school{
	position : absolute;
	top : 17%;
	left : 33%; 
	width :  15%;
	height :  23%;
	z-index : 250;
	border-radius : 50%;
	border : 10px solid white;
}
.wb-column {
  float: left;
  width: 30%;
  height: 30%;
}

/* Clear floats after the columns */
.wb-row:after {
  content: "";
  display: table;
  clear: both;
}
.fields-btn-pres{
	position : relative;
	left : 10%;
	margin : 1%;
	outline-style : solid;
	outline-width : thin;
}
.subscribed-field-btn{
	position : relative;
	left : 20%;
}
.fileds-frame-btn{
	
}
.paragraph-article{
	font-family: 'Quicksand', cursive;
}
.assess-header{
	font-size: 1.2em;
	font-family: 'Charmonman';
}
.assess-footer{
	position: relative;
	top : 30%;
	left : 30%;
	margin-bottom : 20%;
}
.bold-text{
	font-weight: bold;
}
.point-resize{
	width: 2px;
	height: 2px;
	background-color : #ddd;
}
.identity-frame{
	position : absolute;
	top : 20%;
	left : 60%;
	display : inline-block;
	text-align: center;
	font-family: 'Nunito';
	font-weight: bold;
	font-size: 1.2em;
}
.history-schedule{
	position : fixed;
	background-color : white;
	width :  25%;
	left : 74%;
	top : 12%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.schedule-row{
	font-weight: normal;
}
.schedule-table{
	border: 1px solid black;
	border-collapse: collapse;
}
.schedule-frame{
	position: absolute;
	background-color : white;
	top : 11%;
	left : 20%;
	width : 50%;
	text-align: center;
	font-family: 'Nunito';
	font-weight: bold;
	font-size: 1em;
}
#local-reader{
	position: relative;
	width : 90%;
	top : 2%;
	left : 2%;
}
.live-frame{
	position: relative;
	background-color : white;
	top : 31%;
	left : 1%;
	width : 80%;
	text-align: center;
	font-family: 'Nunito';
	font-weight: bold;
	font-size: 1em;
}
.schedule-header{
	font-family : 'Abel-Regular';
	font-size : 1.5em;
}
.quotation-main-frame{
	position : relative;
	top : 31%;
	left : 2%;
	padding-top : 4%;
	padding-bottom : 8%;
	padding-right : 3%;
	padding-left : 3%;
	background-color : white;
	border : 2px black double;
	border-radius : 0.5%;
}
.row-assess{
	position : relative;
	display : inline-block;
	margin-left : 4%;
}
.course-width{
	position : relative;
	width : 40%;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}
.users-certificats{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 35%;
	margin : auto;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-right: 1%;
	overflow-y: auto; 
	float : right;
	position : absolute;
	left : 8%;
	z-index : 700;
	top : 11%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.quotation-frame{
	background-color : white;
	position : relative;
	width : 80%;
	left : 0%;
}
.quotation-header-frame{
	position : relative;
	top : 21%;
	z-index : 50;
	min-height : 55%;
	text-align: center;
	font-family: 'Nunito';
	font-weight: bold;
	font-size: 1.2em;
}
.tittle-assessment-result{

	position :relative;
	top : 40%;
	left : 50%;
	font-size: 1.7em;
	font-family: 'Niramit';
	text-decoration: underline;
}
.quotation-frame{
	position : absolute;
	top : 100%;
	left : 17%;
	font-family: 'Raleway';
	font-size: 1.2em;
}

.input-chat:focus{
  border: 0.2px solid dodgerblue;
}
.names-friends{
	text-transform : lowercase;
	text-align : center;
	font-family : 'HindGuntur-Light';
	font-size : 1.1em;
}
.suggestionFriendsFrame{
	height : 20%;
	width : 100%;
	left: 26.5%;
	display: flex;
	justify-content: center;
	position: absolute;
	flex-wrap: nowrap;
}
.sheetCss{
	position: absolute;
	top :50%;
}
.names-quotation{
	font-family: 'Trebuchet MS'
}
.poster-editor{
	position : relative;
	height : 50%;
}
.over-frame-modal{
	position : fixed;
	left : 0%;
	width : 100%;
	height : 100%;
	background-color : black;
	opacity : 0.6;
	z-index : 2000;
}
.windows-modal{
	position : fixed;
	top : 0%;
	left : 0%;
	background-color : black;
	top : 1%;
	width : 100%;
	height : 100%;
	opacity : 0.6;
	z-index : 3000;
}
.kids-form-frame{
	background-color : white;
	position : absolute;
	top : 1%;
	left : 27.5%;
	width : 90%;
	padding : 2%;
	border-radius: 0.5%;
	z-index : 3001;
}
.schools-form-frame{
	background-color : white;
	position : absolute;
	top : 1%;
	left : 1%;
	width : 90%;
	padding : 2%;
	border-radius: 0.5%;
	z-index : 3001;
}
.poster-content-modal{
	position : absolute;
	top : 1%;
	left : 20%;
	width : 60%;
	z-index : 2001;
}
.children-frame{
	position: absolute;
	top: 22%;
}
.children{

}
.sort-label{
	font-family: 'Verdana';
	font-size: bold;
	position: fixed;
	top: 11%;
	left :35%;
}
.ph_teachers{
	position : relative;
	width:80%;
	top : 30%;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
	border-radius : 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 1%;
}
.suggestion-image{
	width:100%;
	height: 40%;
}
.classes_teachers{
	position : relative;
	width:80%;
	height : 50%;
	border-radius : 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 1%;
}
.editor-css{
	background-color : white;
	position : absolute;
	padding : 1%;
	top : 20%;
	left :10%;
	width: 60%;
	height :80%;
	overflow : auto;

}
.signet-course-marker{
	background-color : white;
	border-radius : 2%;
	position : fixed;
	left : 88.5%;
	top : 11%;
	width : 13%;
	height :80%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.editor-comment-css{
	position : relative;
	margin : 4%;
	width:70%;
	left :12%;
	padding-bottom : 3%;
	margin-bottom : 3%;
	overflow : auto;
	border: solid;
    border-color: #e7e7e7;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
.teachers-frame{
	position: absolute;
	top : 30%;
	left :20%;
	width:70%;
	overflow: auto;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
	
}
.classes-frame{
	position: absolute;
	top : 17%;
	left :20%;
	padding :5%;
	width:70%;
	height : 100%;
    justify-content: center;
	
}
.share-btn{
	position: fixed;
	left : 51%;
	border :none;
	background-color: inherit;
}
.admin-btn{
	position: fixed;
	left : 70%;
}
.certificat-btn{
	position: fixed;
	left : 68%;
	border :none;
	background-color: inherit;
}
.admin-menu-frame{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 19%;
	width : 19%;
	margin : auto;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-right: 1%;
	overflow-y: auto; 
	float : right;
	position : fixed;
	left : 0.2%;
	z-index : 700;
	top : 11%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.radio-btn{
	position : absolute;
	width : 26px;
	left : 70%;
	top : 70%;
}
.switch input {
  opacity: 0;
  width: 13px;
  height: 13px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

.menu-frame{
	content : "";
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 17%;
	height:  45%;
	margin : auto;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-right: 1%;
	float : right;
	position : fixed;
	left : 62%;
	z-index : 700;
	top : 11%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.certificat_frame{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 27%;
	height:  50%;
	margin : auto;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 5%;
	padding-right: 3%;
	overflow-y: auto; 
	float : right;
	position : fixed;
	left : 32%;
	z-index : 700;
	top : 21%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.admin-btn-size{
	width : 100%;
}
.icon-position-admin{
	position : absolute;
	left : 15%;
}
.login-btn {
  background-color: hsl(195, 62%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19566b", endColorstr="#19566b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#19566b), to(#19566b));
  background-image: -moz-linear-gradient(top, #19566b, #19566b);
  background-image: -ms-linear-gradient(top, #19566b, #19566b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #19566b), color-stop(100%, #19566b));
  background-image: -webkit-linear-gradient(top, #19566b, #19566b);
  background-image: -o-linear-gradient(top, #19566b, #19566b);
  background-image: linear-gradient(#19566b, #19566b);
  border-color: #19566b #19566b hsl(195, 62%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}
.btn-white {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 3% 3%;
    margin : 1%;
    font-size: 0.8em;
    cursor: pointer;
}
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}
.fixed-bottom-position{
	position : fixed;
	bottom: 5%;
	left :20%;
}

.tab-books{
	background-color : white;
	position : fixed;
	padding : 1%;
	top: 23%;
	left : 80%;
	width: 19.5%;
	height: 70%;
	overflow-y: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.tab-chapter-head{
	font-size: 1.2em;
	font-family: 'Nunito';
	font-weight: bold;
	font-style: bold;
	text-align: left;
}
.tab-section-head{
	position : relative;
	left : 8%;
}
.sub-section-head{
	position : relative;
	left : 8%;
	font-style : italic;
}
.sub-section-head:hover {
	text-decoration: underline;
}
.section-head{
	font-family: 'Quicksand', cursive;
	font-weight: bold;
}
.section-head:hover {background-color: #ddd;}
.core_asset{
		position: fixed;
		top : 25%;
		height : 60%;
		padding-left: 2%;
		overflow :auto;
}
/* .pagination a.active {
    background-color: : #ddd;
    color: white;
} */

/* Add a grey background color on mouse-over
.pagination a:hover:not(.active) {background-color: #ddd;}
.pagination{
	position : fixed;
	top: 90%;
	left: 30%;
	z-index : 490;
	border-radius : 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
} */

.questions{
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 1em;
	text-decoration-color: black;	
}
.topic-name{
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 1em;
	text-decoration-color: black;	
}
.course-name{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration-color: black;	
}
.person-name{
	font-family: 'Quicksand', cursive;
	font-weight: normal;
	display: flow;
	font-size: 1.1em;
	position : absolute;
	top : 65%;
	left : 10%;
	text-decoration-color: #ddd;	
}
.content-position{
	background-color : white;
}
h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}
::-webkit-scrollbar {
		width: 10px;
		height: 10px;
}
::-moz-scrollbar {
		width: 10px;
		height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
		height: 5px;
		display: block;
		background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
			background-color: #ffffff;
			-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
			background-color: #666;
			border: 1px solid #eee;
			-webkit-border-radius: 6px;
}

.bleu-color{
	
        background: -webkit-linear-gradient(#00A0DC,#fff ); /* Chrome 10+, Saf5.1+ */
		background:    -moz-linear-gradient(#00A0DC,#fff );  /* FF3.6+ */
		background:     -ms-linear-gradient(#00A0DC,#fff );  /* IE10 */
		background:      -o-linear-gradient(#00A0DC,#fff ); /* Opera 11.10+ 0.119.181*/
		background:         linear-gradient(#00A0DC,#fff );  /* W3C */

}
body,html,#login_body{
	height : 100%;
	hyphens: manual;
}
#time-flow{
    height: 100%;
    z-index : 950;
    background-color: green;
}
#Bar{
    position : absolute;
    top : 60%;
    left : 0%;
    z-index : 900;
    height: 5%;
    width: 100%;
    background-color: white;
}
.cm_img{
	border-radius: 50%;
    width: 80%;
}
.ph_classmate{
	display: flex;
	justify-content: center;
    width: 90%;
    height: 800px;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top : 2%;
    left: 0%;
}
.teacher-main-frame{
}
.teacher-single-frame{
}
.devise-frame{
	font-family: 'Raleway', cursive;
	text-align : center;
	font-weight: normal;
	position : relative;
	top : 20%;
	font-size: 1.1em;
	left : 1%;
	text-decoration-color: #ddd;
}

.bold-cv{
	font-family: 'Raleway', cursive;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration-color: black;
}
.teacher-course-font{
	font-family: 'Niramit', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
		}
.course-marker-frame{
	position: absolute;
	width: 90%; 
	top:24%;
	left: 20%;
}
.size_profil{
	height : 40px;
	width :  40px;
}
.search-zone{
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 80%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 0.5% 0.5% 0.5% 5%; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
.editor-header{
	position : fixed;
	background-color : white;
	top : 10%;
	width: 55%;
	left : 20%;
	z-index : 150;
}
.editor-footer{
	position : fixed;
	background-color : white;
	top : 95%;
	width: 55%;
	left : 20%;
	z-index : 150;
}
.yardstick-filter-book-frame{
	background-color: white;
	width: 50%; 
	height : 5.5%; 
	position: fixed;
	z-index: 150;
	top: 11%;
	left :20%;
	border-radius : 1%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19);
}
#recipe-name{
	position : fixed;
	background-color : white;
	top : 80%;
	width: 55%;
	height: 15%;
	left : 20%;
	z-index : 150;
}
.search-teachers{
	position: relative;
	background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 80%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 0.5% 0.5% 0.5% 5%; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
.search-classmate{
	position: absolute;
	background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 0.5% 0.5% 0.5% 5%; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
.course-link {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}
.course-link:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.devise-cv{
	position: relative;
	top:50%;
	width : 100%;
	font-size: 'Charmonman', cursive;
}
.frame-photo-cv{
	position : absolute;
	top : 30%;
	left : 70%;
}
.upload-file-label{
	position : absolute;
	z-index : 70;
	top : 70%;
	left : 6%;
}
.pencil-file-label{
	position : absolute;
	z-index : 70;
	top : 70%;
	left : 70%;
}
.flex-frame-photo-cv{
	position : relative;
	top : 20%;
	left : 15%;
	display : flex;
	flex-direction : column;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.photo-cv{
	position : absolute;
	border-radius: 50%;
	height : 200px;
	width : 210px;
}

.teacher-profil{
	border-radius: 50%;
	height : 70px;
	width : 70px;
	border: 4px solid #ddd;
	padding: 10px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.friend_chat{
	height : 30px;
	width : 30px;
}
.frame_course{
	position : relative;
	right : 20%;
	overflow :auto;
}
.text_container{
	word-wrap : break-word;

}
.picture_show{
	margin-bottom : 10px;
	height : 60%;
	width : 100%;
}
.user-avatar-pr{
	height : 80%;
	width : 17%;
	border-radius : 50%;
}
.pupil-requester-zone{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 40%;
	height:  70%;
	margin : auto;
	padding-left: 2.5%;
	padding-top: 1.5%;
	padding-bottom: 2%;
	padding-right: 1.5%;
	float : right;
	position : fixed;
	z-index : 700;
	overflow-y: auto;
	left : 30%;
	z-index : 100;
	top : 17%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19);
}
.pupil-requester-header{
	position : fixed;
	top : 18%;
	left : 30%;
	width : 40%;
	height : 10%;
	background-color : white;
	z-index : 50;
	font-size : 1.2em;
	font-weight: lighter;
	font-family: 'Verdana';
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.19);
}
.button-frame{
	position : relative;
	left : 40%;
	width :  40%;
}
.assess-zone{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 27%;
	height:  50%;
	margin : auto;
	padding-left: 2.5%;
	padding-top: 1.5%;
	padding-bottom: 2%;
	padding-right: 1.5%;
	float : right;
	position : fixed;
	z-index : 700;
	overflow-y: auto;
	left : 50%;
	z-index : 700;
	top : 11%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.assesses{

}
.assess-topic{
	font-weight: bold;
	font-family: 'Georgia';
}
.assess-course{
}
.assess-release-hour{
	font-weight: bold;
	font-family: 'Courier New';
}
.assess-finish-hour{
	font-weight: bold;
	font-family: 'Courier New';
}
.assess-header-zone{
	font-size : 1.2em;
	font-weight: lighter;
	font-family: 'Verdana';
}
.button-left{
	background-color : white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	z-index: 700;
	position : relative;
	left : 55%;
	top : 80%;
	padding : 2%;
}
.button-right{
	background-color : white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	z-index: 700;
	position : relative;
	left : 45%;
	top : 80%;
	padding : 2%;
}
.bookmarked-head{
	text-align: justify;
	font-family: 'Trebuchet MS';
	font-size: 1.2em;
	font-weight : lighter;
	display : inline-block;
	float : right;
}
.children-viewer{
	position: fixed;
	top: 23%;
	left : 70%;
	width : 20%;
	height:  65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.frame-book-store{
	position : relative;
    width: 100%;
}
.book-store{
	display: flex;
	justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top : 2%;
    left: 0%;
}
.book-frame{
	border-bottom : 2px solid black transparent;
	background-color : white;
	border-radius : 5px;
	margin-bottom : 7%;
	width : 25%;
	height : 30%;
	margin : 0.4%;
	display : inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	position : relative;
}
.search-book-store{
	position: relative;
	width: 30%;
	height: 20%;
    left: 43%;
}
.head-zone{
	font-weight: bold; 
	font-size: 1.2em;
	text-align: center;
	font-family: 'Caveat-Regular';
}
.bold
{
	font-weight: bold; 
}
.resultview
{
	font-weight: bold; 
	font-size : 1em;
	font-family: "Georgia";
}
.article-list{

}
.article-caret{
	position : absolute;
	left : 90%;
}
.suggestion-teachers-frame{
	position : relative;
	left : 1%;
	top : 5%;
	background-color : white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19);
	padding : 2%;
	border-radius: 0.5%;
	overflow : auto;
}
.wit-frame{
}
.questioner-frame{
	position : fixed;
	top : 15%;
	left : 20%;
	width : 60%;
	height : 60%;
	background-color : white;
	z-index : 2001;
}
.questioner-modal-frame{
	position : fixed;
	left : 0%;
	width : 100%;
	height : 100%;
	background-color : black;
	opacity : 0.6;
	z-index : 2000;
}
.subscription-wit-frame{
	position : relative;
	left : 2%;
	top : 25%;
	background-color : white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19);
	padding : 2%;
	border-radius: 0.5%;
	overflow : auto;
}
.subscription-wit-core{
	position : relative;
	top : 1%;
	font-family: 'Indie Flower', cursive;
}
.label-div-input{
	display : inline;
	position : relative;
	width :  50%;
}

.subscription-form-frame{
	background-color : white;
	position : absolute;
	top : 1%;
	left : 27.5%;
	width : 45%;
	padding : 2%;
	border-radius: 0.5%;
	z-index : 2001;
}
.picture-owner-comment{
	height : 30px;
	width : 30px;
	border-radius: 50%;
	margin-right : 1.5%;
}
.wrap-comment{
	margin-left :4%;
}
.paragraph-indent{
	text-indent : 10%;
}
.text_comment{
	font-size :1em;
}

form div{
	position : relative;
	left : 50%;
}
#class-menu{
	z-index : 900;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	position :  absolute;
	left : 10%;
	background-color : white;
	font-size: small;
	
}
.quiz_sect{
	margin-bottom : 10px;
	background-color : white;
	height : 150px;
	width : 80%;
	width : 50%;
	border-radius : 5px;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	top : 200px;
}
#astuce_main{
	margin-bottom : 10px;
	background-color : white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#admin_inscription_id,.admin_inscription_class{
	position : absolute;
	top : 50%;
}
.connected-gray-status{
	height : 7px;
	width :  7px;
	border-radius: 50%;
	background-color :  #ddd;
	display: inline-block;
	position: absolute;
	top : 46%;
	right : 6%;
}
.connected-green-status{
	height : 7px;
	width :  7px;
	border-radius: 50%;
	background-color :  green;
	display: inline-block;
	position: absolute;
	top : 46%;
	right : 6%;
}
.last-seen{
	position : relative;
	left : 25%;
	color : gray;
	font-size : 0.6em;
}
.friend_plholder{
	font-family: 'Quicksand', cursive;
	text-decoration: italic;
	position:  relative;
	padding-top : 1.5%;
	left : 1%;
	cursor : pointer;
}
.friend-cert-dispatcher{
	font-family: 'Quicksand', cursive;
	text-decoration: italic;
	position:  relative;
	width : 100%;
	padding-top : 1.5%;
	left : 1%;
}
.ca-field{
	font-family : 'BadScript-Regular';
}
.attendent-sheets-frame-btn{
	position : relative;
	left : 10%;
}
.pupil-description{
	display : inline;
	vertical-align : middle;
	position : relative;
	top : 5%;
}
.pupil-figure{
	display : inline;
	vertical-align : middle;
}
@keyframes slider{
	0%(left :  50px)
	50%(left :  100px)
	100%(left :  150px)
}
.suggestion-header{
	color : gray;
	font-family : '';
	font-weight : bold;
	margin-bottom : 3%;
	font-size : 1.2em;
}
.suggestion-name{
	font-family : 'Barlow-Regular';
	font-weight : bold;
}
.suggestion-flex-box{
	display : flex;
	flex-direction : column;
}
.suggestion-sible-img{
	display : inline;
	vertical-align : top;
	margin-left : 3%;
}
.suggestion-img{
	position : relative;
	width : 15%;
	height : 20%;
	border-radius : 50%;
}

.admin-icon-layer{
	position : absolute;
	top : 10%;
	left : 46%;
	border-radius : 50%;
	font-size : 0.6em;
	display : inline;
	z-index : 500;
	width : 13px;
	height : 13px;
	text-align : center;
	color : white;
	background-color : red;
}
.indicator-total-payment{
	display : inline-block;
	position : absolute;
	bottom : 10%;
	z-index : 99;
	width : 65%;
	left : 5%;
	height : 3%;
	background-color : #ddd;
}
.btn-bottom-border:hover {
  border-bottom: 3px solid black;
}
.cypher-indicator-days{
	position : absolute;
	text-align : center;
	bottom : 4%;
	left : 73%;
	color : gray;
	font-size : 0.8em;
	font-weight : 200;
}
.cypher-indicator-payment{
	position : absolute;
	text-align : center;
	bottom : 9%;
	left : 73%;
	color : gray;
	font-size : 0.8em;
	font-weight : 200;
}
.indicator-present-payment{
	position : relative;
	color : green;
	height : 100%;
}
.input-file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.indicator-total-days{
	display : inline-block;
	position : absolute;
	bottom : 5%;
	left : 5%;
	width : 65%;
	z-index : 99;
	height : 3%;
	background-color : #ddd;
	cursor : pointer;
}
.indicator-present-days{
	color : green;
	width : 70%;
	height : 100%;
}
.pupil-course-frame{
	text-align: center;
	font-family: 'Comic Sans MS';
	position: absolute;
	top : 85%;
	width : 100%;
}
.tutors-frame{
	position : absolute;
	top : 65%;
	left : 5%;
	width : 80%;
	text-align : center;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}
.second-frame-classmate{
	position : absolute;
	top : 70%;
}
.tutor-css{
	color : gray;
}
.score-scope{
	position : absolute;
	top : 24%;
	left : 23%;
	padding : 0.5%;
	border-radius : 50%;
	font-size : 0.6em;
	display : inline;
	z-index : 5;
	width : 12%;
	height : 7.5%;
	text-align : center;
	color : white;
    background-color: dodgerblue;
}
.cert-friends-share{
	display : inline;
	position : relative;
	color : gray;
	font-size : 1em;
}
.cert-user-panel{
	position : relative;
	display : inline;
}
.assess_menu{
	position:  relative;
	left : 5%;
}
.react-icon{
	height : 3%;
	width : 3%;
}
.right-position{
	position : relative;
	left : 5%;
}
.results_zone{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 27%;
	margin : auto;
	float : right;
	position : fixed;
	left : 17%;
	z-index : 700;
	top : 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.comment-text{
    font-family: 'Indie Flower', cursive;
}
.{
    font-family: 'Quicksand', sans-serif;
}
.assisted-classes-menu{
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 1.17em;
	text-align : center;
}
.default-style-link{

	text-decoration-color:  none;
}
.classes_zone{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	margin : auto;
	padding: auto;
	float : right;
	width: 35%;
	position : fixed;
	left : 18%;
	z-index : 700;
	top : 24%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.notes_zone{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	float : right;
	position : fixed;
	left : 35%;
	z-index : 700;
	top : 11%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	width : 27%;
	height:  50%;
	margin : auto;
	padding-left: 5%;
	padding-top: 1.5%;
	padding-bottom: 5%;
	padding-right: 3%;
	overflow-y: auto; 
}
.assess_frame{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 27%;
	height:  50%;
	margin : auto;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 5%;
	padding-right: 3%;
	overflow-y: auto; 
	float : right;
	position : fixed;
	left : 12%;
	z-index : 700;
	top : 21%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.notif-frame{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 27%;
	height:  50%;
	margin : auto;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 5%;
	padding-right: 3%;
	overflow-y: auto; 
	float : right;
	position : fixed;
	left : 45%;
	z-index : 700;
	top : 11%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19);
}
.next:hover {background-color: #ddd;}
.previous :hover {background-color: #ddd;}
.next{
	position : absolute;
	border :none;
	background-color: inherit;
	width: 10%;
	height : 13%;
	top : 47%;
	left : 87%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19);
}
.previous{
	position : absolute;
	border :none;
	background-color: inherit;
	width: 10%;
	height : 13%;
	top : 47%;
	left : 3%;   
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19);
}
.product-picture{
	position: absolute;
	width: 75%;
	height: 60%;
}
.img_circle{
	border: 2px solid #ddd;
}
.add-fields{
	width: 35px;
	height: 35px;
}
.hidden-tag{
	display : none;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}
input.visually-hidden:focus-within + label {
  outline: thin dotted;
}
.online-zone{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	min-height: 45px;
	float : right;
	position : relative;
	top : 3%;
	width: 100%;
	height: 250px;
	padding : 3%;
	padding-top : 1.5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19);
}
.cert-dispatcher{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 19%;
	float : right;
	position : fixed;
	left : 80.7%;
	z-index : 500;
	top : 11%;
	padding : 1%;
	padding-top : 1.5%;
	padding-bottom : 1.5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.date-quotation{
	position : absolute;
	left : 80%;
}
.note-quotation{
	position : absolute;
	left : 40%;
}
.inner-friend-zone{
	position : relative;
	overflow : scroll;
}
.size-friend-zone{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 19%;
	float : right;
	position : fixed;
	overflow-y: auto;
	left : 80.7%;
	z-index : 500;
	top : 11%;
	padding : 1%;
	padding-top : 1.5%;
	padding-bottom : 1.5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.shift_zone_text{
	position : relative;
	left : 5%;
	width : 60%;
    	box-sizing: border-box;
    
}
.no-border{
	border: none;
	margin-left:5%;
	display: inline;
}
.fixed-position{

}
.white-space{
	background-color : white;
	border-radius : 5px;
}
.rised-position{
	z-index : 500;
}
.more-rised-position{
	z-index : 150;
}
.text-align{
	text-align : center;
}
.lower-case{
	text-transform : lowercase;

}
.hide{
	display : none;
}
.friend-head{
	background-color : white;
	width : 17%;
	height: 5%;
	border-radius: 5%;
	text-align : center;
}
.icon_appear{
	height: 20px;
	width : 20px;
}
.pict_rounded
{
	border-radius: 50%;
}
.friend
{
	height : 30px;
	width :  30px;
	border-radius: 50%;
	border: 2px solid #ddd;
}
.submenu li
{
	
	border-radius: 5%;
	display : block;
	width : 100%;
}
.chapter-tittle-position{
	font-family : 'Dayrom', sans serif;
	font-size :5em;
	font-weight: bold;
	position: fixed;
	top : 26%;
}
.lesson-tittle-policy{
	font-family: 'Quicksand', cursive;
	font-weight: bold;
	position: fixed;
}
.lesson-tittle-position{
	position: fixed;
	top : 30%;
	padding-left: 5%;
}
.shadow-style{
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#administration_id,#quiz_id{
	display : none;
	overflow :auto;
	position : absolute;
	z-index : 600;
	left : 25%;
	top : 10%;
	width : 50%;
	height: 80%;
	background-color : white;
	border-radius : 5px;
	border-bottom : 2px solid black transparent;
	margin : auto;
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.single-option:hover {
    background: #e7e7e7;
}
.single-option{
	position: relative;
	display: block;
	width: 100%;
	height : 10%;
}



h2,h3,h4,h5
{
		padding : auto;
		text-align : center;
		text-transform : uppercase;
		font-family : 'Dayrom', sans serif;
}

nav li,div form{
	display : inline-block;
}
#list_nav{
	list-style-type : none;
}
#profil_sp,#apropos_div{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.list-nav-certificat{
	position: absolute;
	top : 11%;
	z-index : 40;
}
a{
	list-style : none;
}
.cv-header{
	font-family: 'Abel-Regular';
	font-weight: bold;
	font-size: 2.5em;

}
.address-permanent{
	position : relative;
	top : 30%;
	text-align : center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.7em;
	width : 90%;
	border-bottom-left-radius : 17px;
	border-bottom-right-radius : 17px;
	border-top-left-radius : 17px;
	border-top-right-radius : 17px;
	background-color : #ddd;
	}
.address-permanent-zone{
	position : relative;
	top : 30%;
}
.sub-sect-cv{
	position : relative;
	top : 5%;
	text-align : center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.7em;
	width : 90%;
	border-bottom-left-radius : 17px;
	border-bottom-right-radius : 17px;
	border-top-left-radius : 17px;
	border-top-right-radius : 17px;
	background-color : #ddd;
}
.sub-sect-cv-zone{
	position : relative;
	top : 10%;
}
.frame-cv{
	position: absolute;
	width : 100%;
}
.cv-flex-box{
	position : relative;
	top : 20%;
	bottom : 20%;
	display: flex;
	flex-direction : row;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.flex-cv-main-frame{
	display : flex;
	justify-content : space-between;
	flex-wrap : nowrap;
	flex-direction : column;
	background-color : white;
	position: absolute;
	padding : 2%;
	top : 11%;
	left: 2%;
	width : 80%;
	border-radius : 0.5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.publish_sp{
	position: absolute;
	top : 40%;
	right: 30%;
	width : 45%;
}
.container-index-page{
	width : 90%;
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	position : absolute;
	top : 10%;
	left : 5%;
	height : 80%;
	right : 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);	
}
.admin-menu-head{
		font-family : 'DidactGothic-Regular';
		font-size : 1.1em;
		font-weight : bold;
		text-transform : 'upper-case';
	}
.login-inner{
	position : absolute;
	left : -10%;
	top : 15%;
	font-family : 'DidactGothic-Regular';
	font-size : 1.3em;
	font-weight : bold;
}
#header_login{
		padding : auto;
		margin : auto;
		height : 25%;
		width : 82%;
		position : fixed;
		z-index : 400;
		background-color : white;
}
.overview-login{
	position : absolute;
	top : 50%;
	font-size: x-large;
	text-align : center
}
.form-auth{
	position : absolute;
	width : 30%;
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 1%;
	z-index : 900;
	top : 32%;
	left : 30%;
	height : 40%;
	right : 25%;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
	
}
.form-subscribe{
	position : absolute;
	width : 25%;
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 1%;
	z-index : 900;
	top : 16%;
	left : 60%;
	height : 70%;
	right : 25%;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
	
}
.pict_sp img{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	display: none;
}

#advertise_sp{
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	width : 17%;
	height : 40%;
	margin : auto;
	float : right;
	position : fixed;
	left : 74%;
	z-index : 400;
	top : 200px;
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.inline-class{
	display : inline;
}
.family-frame{
	display : inline;
	float : right;
	width : 50%;
	height : 50%;
}
.formula-tech-top{
	display : inline;
	width : 10%;
	height : 10%;
	float : left;
	margin: 5%;
	
}
.formula-tech-top-top{
	display : inline;
	width : 10%;
	height : 10%;
	margin: 5%;
	position : absolute;
	top: 2%;
	left : 25%;
}
.formula-tech-top-left{
	display : inline;
	width : 10%;
	height : 10%;
	margin: 5%;
	position : absolute;
	top: 20%;
	
}
.formula-tech-top-right{
	display : inline;
	width : 10%;
	height : 10%;
	margin: 5%;
	position : absolute;
	top: 20%;
	right : 10%;
	
}
.formula-tech-top-bottom{
	display : inline;
	width : 10%;
	height : 10%;
	margin: 5%;
	position : absolute;
	top: 60%;
	left: 25%;
	
}
.suggestion-details-frame{
	display : inline-block;
	position : relative;
	left : 5%;
}
.teacher-picture-suggestion{
	position: absolute;
	top :4%;
	left :5%;
	width : 10%;
	border-radius: 50%;
}
.add-teacher-button{
	position : relative;
	left : 60%;
}
.classmate_img{
	position: absolute;
	top :20%;
	left :17.5%;
	width : 65%;
	height : 45%;
	border-radius: 50%;
}
.teacher-image{
	position: absolute;
	top :20%;
	left :17.5%;
	width : 65%;
	height : 45%;
	border-radius: 50%;
}
.as-img{
	position: relative;
	top :20%;
	left :5%;
	width : 17%;
	border-radius: 50%;
}
.classmate_sp{
	border-bottom : 2px solid black transparent;
	background-color : white;
	border-radius : 5px;
	margin-bottom : 7%;
	width : 25%;
	height : 30%;
	margin : 0.4%;
	display : inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	position : relative;
}
.course-options-label{
	position : relative;
	top : 33%;
}

.course-options-frame{
	font-family: 'Trebuchet MS';
	position: relative;
	left: 12%;
}
.children{
	
	overflow : auto;

}
#chat-section div input{
		width : 100%;
		bottom : 0%;
}
#chat-section div p{
		border-radius : 5px;
		background-color : rgb(248,248,248);
		
}
#chat-section  div{ 
		
		padding : auto;
		margin-left : 2%;
		width : 25%;
		height : 250px;
		background-color : white;	
		display : inline-block;
		max-height : 45%;
		bottom : 0%;
		overflow :auto;
		}
		
#chat-section{
		margin : auto;
		width : 65%;
		position : fixed;
		z-index : 500;
		bottom : 2%;
}
.login-page{
	
}
.page-footer a{
		display : block;
}

.page-footer{
		margin : auto;
		width : 13%;
		position : fixed;
		z-index : 500;
		background-color : white;
		bottom : 2%;
		left : 77%;
		overflow :auto;
}

#profil_pict{
	margin-right : 50px;
	position : relative;
	float : left;
}
.form-label{
	width : 80%;
	height : 40px;
	border: none;
	border-radius : 8%;
}
#profil_sp{
	float : right;
	background-color : white;
	border-bottom : 2px solid black transparent;
	border-radius : 5px;
	margin : auto;
	z-index : 300;
	top : 30.5%;
	left : 9%;
	width : 17%;
	height : 50%;
	position : fixed;
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#first_id{
	display : block;
}
.wb-spinner{
	position : relative;
	top : 50%;
	left : 50%;
}
input,button {
  border-radius : 5px;
}
.Upload {
}

.Content {
}

.Files {
}

.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 32px;
}

.Title {
  margin-bottom: 32px;
  color: #555;
}

.Filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.CheckIcon {
  opacity: 0.5;
  margin-left: 32px;
}

.ProgressWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.upload-button {
  font-family: "Roboto medium", sans-serif;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;
  background: rgba(103, 58, 183, 1);
  color: #fff;
  outline: 0;
}

.upload-button:disabled {
  background: rgb(189, 189, 189);
  cursor: default;
}
.Dropzone {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Highlight {
  background-color: rgb(188, 185, 236);
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Roboto medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ProgressBar {
  width: 100%;
  height: 8px;
  background-color: rgb(183, 155, 229);
  border-radius: 5px;
}

.Progress {
  background-color: rgba(103, 58, 183, 1);
  height: 100%;
  margin: 0;
  border-radius: 5px;
}
.upload-frame{
  text-align: center;
  background-color: rgb(206, 213, 223);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Card {
  background-color: white;
  padding: 32px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}





.map-school-frame{
    position: relative;
    width: 50%;
    height: 800px;
    top : 2%;
    left: 2%;
}


.school-main-frame{
    position: relative;
    top : 2%;
    left: 2%;
}

.school-map{
	position : fixed;
	background-color : white;
	width :  25%;
	left : 74%;
	top : 19%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.19);
}
.save-bill{
	display : inline-block;
	width : 8%;
	position : relative;
	left : 90%;
}


.slider {
  position: relative;
  width: 800px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 40%;
  right: 10px;
  z-index: 100;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 40%;
  left: 10px;
  z-index: 100;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}

#vids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vids a:first-of-type {
  margin-bottom: 5px;
}



* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


a:hover {
  color: #2196f3;
}

/*----------------------------
BIG HEADER
------------------------------*/
.big-header {
  padding: 2em 0;
  position: relative;
  text-align: center;
}

.big-header:after {
  content:"";
  display:block;
  height:1px;
  background:#eee;
  position:absolute; 
  left:30%; right:30%;
  bottom: 0;
}

.big-header h1 {
  font-size:2.75em;
  font-weight:300;
  margin-bottom:0.2em;
}

.big-header p {
  font-size: 16px;
}

.big-header p.sub {
  font-size: 12px;
  color: #9999;
}

.note {
  margin: 20px 0;
  padding: 10px;
  color: #888;
  background-color: #fefefe;
  font-size: 12px;
  border-left: 5px solid tomato;
}


/* Widget Container */
#widget {
  position: relative;
  padding: 20px 0;
  margin: 20px 0;
  border: 1px solid #eee;
  border-width: 0;
}


/*----------------------------
Rating Star Widget Style
-----------------------------*/
.rating-stars {
  position: relative;
  display: block;
  text-align: center;
}

.rating-stars .star {
  display: inline-block;
  padding: 0 2px;
  font-size: 2.5em;
  color: #ccc;
  transition: 0.1s all ease-in-out;
  transform: scale(0.8);
}
.rating-stars .star:hover,
.rating-stars .star.semi-active {
  color: #ffd73e;
  transform: scale(1);
}

.rating-stars .star.active {
  color: #FF9800;
  transform: scale(1);
}


/* Rating Message */
.after-rating-message {
  display: none;
  text-align: center;
  margin: 20px auto;
  padding: 20px 20px;
  background-color: #f7f7f7;
  opacity: 0;
  transition: 0.2s all ease-in-out;
}

.after-rating-message.show {
  display: block;
  opacity: 1;
}


