<!DOCTYPE html>
<html lang="en">

<head>
    <title>Magic 8 </title>
    <meta charset="utif-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <script src="js/index.js" ></script>
</head>

<body>
    <div>
        <h2>Computers</h2>
    </div>
    <div>
        <input type="button" value="1" id="1">
        <input type="button" value="2" id="2">
        <input type="button" value="3" id="3">
    </div>
    <div>
        <label>CPU Speed : </label><label id="cpu">   </label>
    </div>
    <div>
        <label>Ram amount :</label><label id="ram">    </label>
    </div>
    <div>
        <label>Storage space :</label><label  id="space">    </label>
    </div>
    <div>
        <label>Price :</label><label id="price">    </label>
    </div>
</body>

</html>