<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>final exam</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
            crossorigin="anonymous">
        </script>
        <script src="js/jquery.js" >
        </script>
    </head>
    <body>
        <div>hello world</div>
                <input type="text" placeholder="tape something" name="comment" id="comment">
                <input type="button" value ="submit" id="push"/>
        <div>
            <ul id="list">
                <% data.forEach((item) => { %> 
                    <li><%=item %></li>
                <% });%>
            </ul>
        </div>
    </body>
</html>